@mixin divider($pseudo, $position)
{
    &::#{$pseudo}
    {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: var(--dark40);

        @if $position == 'TopLeft'
        {
            top: 0;
            left: 0;
        }

        @if $position == 'TopRight'
        {
            top: 0;
            right: 0;
        }

        @if $position == 'BottomLeft'
        {
            bottom: 0;
            left: 0;
        }

        @if $position == 'BottomRight'
        {
            bottom: 0;
            right: 0;
        }
    }
}

@mixin slider($height, $width, $diameterMultiplier)
{
    $diameter: $height * $diameterMultiplier;

    position: relative;
    background-color: var(--dark40);
    height: $height;
    width: $width;
    margin-left: 5vw;
    border-radius: 1em;
    isolation: isolate;
    z-index: 1;

    &::before
    {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        height: inherit;
        width: var(--progress);
        background-color: var(--accent);
        border-radius: inherit;
        z-index: 2;
    }

    &::after
    {
        position: absolute;
        content: '';
        top: - (($diameter - $height) / 2);
        left: calc(var(--progress) - ($diameter / 2));
        height: $diameter;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: white;
        opacity: 0;
        transition: opacity 250ms ease;;
        z-index: 3;
    }

    &:hover
    {
        cursor: pointer;
        
        &::after { opacity: 1; }
    }
}