#displayRight
{
    align-items: center;
    justify-content: center;
    gap: 5vh;

    & > * { width: 92.5%; }

    .head
    {
        height: calc(40vw / 1.55);
        justify-content: center;
        align-items: center;
        padding: .5em 0;
        transition: transform 150ms ease;
        isolation: isolate;
        
        #albumArt
        {
            position: absolute;
            height: inherit;
            aspect-ratio: 1;
            z-index: 1;

            &[src="svg/empty.svg"] { background-color: var(--dark25); }
        }

        #lyrics
        {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            height: inherit;
            aspect-ratio: 1;
            overflow-y: auto;
        }
    }

    .body
    {
        font-size: 1.5em;
        gap: .5em;

        #artistName, #albumName { font-size: .5em; }

        .miscButtons
        {
            gap: .75em;
            align-items: center;
            justify-content: flex-start;
            
            button
            {
                background: none;
                border: none;

                img
                {
                    height: 1.75em;
                    aspect-ratio: 1;
                }
            }
        }

        #timeLine
        {
            font-size: .5em;
            grid-auto-flow: column;
            grid-auto-columns: auto 1fr auto;
            align-items: center;
            gap: 1.5em;
            isolation: isolate;

            #theLine
            {
                --width: 0%;
                
                $lineHeight: .25em;
                $circleHeight: 1em;

                align-items: center;
                height: $lineHeight;
                width: 100%;
                background-color: var(--dark40);
                border-radius: 1em;
                
                .line
                {
                    height: $lineHeight;
                    width: var(--width);
                    background-color: var(--accent);
                    border-radius: 1em;

                    &::before
                    {
                        $width: 48px;

                        position: absolute;
                        right: - ($width / 2);
                        bottom: $circleHeight / 2;
                        content: attr(data-current-time);
                        color: black;
                        height: $width;
                        aspect-ratio: 1;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-image: url('../svg/popUpTime.svg');
                        opacity: 0;
                        transition: opacity 250ms ease;
                        z-index: 1;
                    }

                    &::after
                    {
                        content: '';
                        position: absolute;
                        top: - (($circleHeight - $lineHeight) / 2);
                        right: - ($circleHeight / 2);
                        height: $circleHeight;
                        aspect-ratio: 1;
                        border-radius: 50%;
                        background-color: white;
                        opacity: 0;
                        transition: opacity 250ms ease;
                        z-index: 1;
                    }
                }

                &:hover
                {
                    cursor: pointer;

                    .line::before, .line::after { opacity: 1; }
                }
            }
        }

        #mediaButtons
        {
            gap: 7.5vw;
            justify-content: center;

            img
            {
                height: 35px;
                aspect-ratio: 1;
                transition: opacity ease-in-out 150ms;
            }
        }
    }
}