#titleBar
{
    --fs: 22px;
    font-size: var(--fs);
    height: var(--titleBarHeight);
    width: 100vw;
    background-color: var(--dark10);
    -webkit-app-region: drag;

    $size: 1em;
        
    .app { margin: 0 $size; }

    .buttons
    {
        grid-auto-flow: column;
        -webkit-app-region: no-drag;
        
        $reduce: .25em;

        button
        {
            font-size: var(--fs);
            padding: 0 ($size - $reduce);

            &#close:hover { background-color: var(--accentRed3); }

            &:not(#close):hover { background-color: var(--dark30); }
        }

        img
        {
            height: $size - $reduce;
            width: $size - $reduce;
        }
    }
}