#displayRight {
  align-items: center;
  justify-content: center;
  gap: 5vh;
}
#displayRight > * {
  width: 92.5%;
}
#displayRight .head {
  height: 25.8064516129vw;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0;
  transition: transform 150ms ease;
  isolation: isolate;
}
#displayRight .head #albumArt {
  position: absolute;
  height: inherit;
  aspect-ratio: 1;
  z-index: 1;
}
#displayRight .head #albumArt[src="svg/empty.svg"] {
  background-color: var(--dark25);
}
#displayRight .head #lyrics {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  aspect-ratio: 1;
  overflow-y: auto;
}
#displayRight .body {
  font-size: 1.5em;
  gap: 0.5em;
}
#displayRight .body #artistName, #displayRight .body #albumName {
  font-size: 0.5em;
}
#displayRight .body .miscButtons {
  gap: 0.75em;
  align-items: center;
  justify-content: flex-start;
}
#displayRight .body .miscButtons button {
  background: none;
  border: none;
}
#displayRight .body .miscButtons button img {
  height: 1.75em;
  aspect-ratio: 1;
}
#displayRight .body #timeLine {
  font-size: 0.5em;
  grid-auto-flow: column;
  grid-auto-columns: auto 1fr auto;
  align-items: center;
  gap: 1.5em;
  isolation: isolate;
}
#displayRight .body #timeLine #theLine {
  --progress: 0%;
  position: relative;
  background-color: var(--dark40);
  height: 0.25em;
  width: auto;
  border-radius: 1em;
  isolation: isolate;
  z-index: 1;
}
#displayRight .body #timeLine #theLine::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: inherit;
  width: var(--progress);
  background-color: var(--accent);
  border-radius: inherit;
  z-index: 2;
}
#displayRight .body #timeLine #theLine::after {
  position: absolute;
  content: "";
  top: -0.375em;
  left: calc(var(--progress) - 0.5em);
  height: 1em;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: white;
  opacity: 0;
  transition: opacity 250ms ease;
  z-index: 3;
}
#displayRight .body #timeLine #theLine:hover {
  cursor: pointer;
}
#displayRight .body #timeLine #theLine:hover::after {
  opacity: 1;
}
#displayRight .body #timeLine #theLine .popUp {
  position: absolute;
  left: calc(-24px + var(--progress));
  bottom: 0.5em;
  color: black;
  height: 48px;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
  background-image: url("../svg/popUpTime.svg");
  opacity: 0;
  transition: opacity 250ms ease;
  z-index: 1;
}
#displayRight .body #timeLine #theLine:hover .popUp {
  opacity: 1;
}
#displayRight .body #mediaButtons {
  gap: 7.5vw;
  justify-content: center;
}
#displayRight .body #mediaButtons img {
  height: 35px;
  aspect-ratio: 1;
  transition: opacity ease-in-out 150ms;
}
