#displayLeft {
  height: var(--displayHeight);
  top: var(--titleBarHeight);
  transition: transform ease 250ms;
  background-color: var(--dark25);
  z-index: 0;
}
#displayLeft #displayLeftOverlay {
  height: var(--displayHeight);
  width: 60vw;
  background-color: var(--dark25);
  z-index: -1;
  opacity: 0;
  filter: brightness(1);
  transition: opacity 250ms ease, filter 250ms ease, transform 250ms ease;
}
#displayLeft #displayLeftOverlay.visible {
  z-index: 1;
  opacity: 0.75;
  filter: brightness(0.8);
}
#displayLeft section {
  height: var(--displayHeight);
  width: 60vw;
}

#displayRight {
  font-size: 20px;
  height: var(--displayHeight);
  width: 40vw;
  top: var(--titleBarHeight);
  background-color: var(--dark25);
  z-index: 0;
}
