#displayLeft
{
    height: var(--displayHeight);
    width: 60vw;
    /* outline: 2px solid var(--accent); */
    transition: opacity ease 1s;
    /* background-color: var(--dark20); */
    top: var(--titleBarHeight);
}

#displayRight
{
    height: var(--displayHeight);
    width: 40vw;
    /* outline: 2px solid var(--accent); */
    transition: opacity ease 1s;
    /* background-color: var(--dark20); */
    font-size: 20px;
    top: var(--titleBarHeight);
}