#displayRight {
  align-items: center;
  justify-content: center;
  gap: 5vh;
}
#displayRight > * {
  width: 92.5%;
}
#displayRight .head {
  height: 25.8064516129vw;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0;
  isolation: isolate;
}
#displayRight .head #albumArt {
  position: absolute;
  height: inherit;
  aspect-ratio: 1;
  z-index: 1;
}
#displayRight .head #albumArt[src="svg/empty.svg"] {
  background-color: var(--dark25);
}
#displayRight .head #lyrics {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  aspect-ratio: 1;
  overflow-y: auto;
}
#displayRight .body {
  font-size: 1.5em;
  gap: 0.5em;
}
#displayRight .body #artistName, #displayRight .body #albumName {
  font-size: 0.5em;
}
#displayRight .body .miscButtons {
  gap: 0.75em;
  align-items: center;
  justify-content: flex-start;
}
#displayRight .body .miscButtons button {
  background: none;
  border: none;
}
#displayRight .body .miscButtons button img {
  height: 1.75em;
  aspect-ratio: 1;
}
#displayRight .body #timeLine {
  font-size: 0.5em;
  grid-auto-flow: column;
  grid-auto-columns: auto 1fr auto;
  align-items: center;
  gap: 1.5em;
}
#displayRight .body #timeLine #theLine {
  --scaleFactor: 0;
  height: 0.25em;
  width: auto;
  background-color: var(--accent);
  transform: scaleX(var(--scaleFactor));
  transform-origin: left;
  transition: transform ease 100ms;
}
#displayRight .body #mediaButtons {
  gap: 7.5vw;
  justify-content: center;
}
#displayRight .body #mediaButtons img {
  height: 35px;
  aspect-ratio: 1;
  transition: opacity ease-in-out 150ms;
}
