#displayLeft
{
    --mainHeight: 92.5vh;
    height: 100vh;
    width: 60vw;
    /* outline: 2px solid var(--accentGreen1); */
    transition: opacity ease 1s;
    /* background-color: var(--dark20); */
}

#displayLeftMain
{
    height: var(--mainHeight);
    width: 60vw;
}




/* navbar */
#navbar
{
    --size: 25px;
    --left: 0;

    height: calc(100vh - var(--mainHeight));
    width: 60vw;
    background-color: var(--dark10);
    font-size: 20px;
}

#navbar::before
{
    position: absolute;
    content: '';
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--dark40);
}

#navbarList
{
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
}

#navbarList::after
{
    content: '';
    position: absolute;
    bottom: 0;
    left: var(--left);
    height: .15em;
    width: calc( var(--size) * 1.7 );
    background-color: var(--accentGreen1);
    transition: left ease 250ms;
}

.navbarItems
{
    display: block;
    margin: calc( calc(100vh - var(--mainHeight) - var(--size)) / 2 ) 0;
}

.navbarItems:last-child { margin-left: 1.5em; }

.navbarButton
{
    background: none;
    padding: 0;
    border: none;
}

.navbarSVG
{
    height: var(--size);
    width: var(--size)
}

#focusHighlight button svg
{
    fill: white;
    transition: fill ease 100ms;
}



/* div-queue */
.queueList
{
    font-size: 20px;
    width: calc(60vw * .7);
    height: calc(100vh * .8);
    top: 50;
    left: 100;
    border-radius: 5px;
    background-color: var(--dark30);
    z-index: 1;
}

.titleHolder
{
    padding: .7em .5em;
}

#imgQueue
{
    height: 1.5em;
    width: 1.5em;
    align-self: center;
}

#imgClose
{
    height: 1em;
    width: 1em;
}

.close
{
    align-self: center;
    right: 5%;
}

#queueList
{
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
}

#queueList::-webkit-scrollbar
{
    background: none;
    width: 1px;
}

#queueList::-webkit-scrollbar-thumb
{
    background-color: var(--dark80);
}

#imgQueue, #queues { margin-left: 20px; }

#queues
{
    font-size: 1.5em;
}

.part
{
    width: 100%;
    font-size: 20px;
    padding: .5em 0;
}

#queueLists
{
    --width: calc(60vw * .85);
    font-size: 25px;
    width: var(--width);
    border: .1em solid var(--dark40);
    border-radius: .5em;
    padding: .4em .7em;
    margin-left: .5em;
}

#chevronDown
{
    --size: 20px;
    height: var(--size);
    width: var(--size);
    align-self: center;
    right: 1em;
}

#deleteCurrentQueue
{
    align-self: center;
    margin-left: auto;
    margin-right: 1.5em;
}

#X
{
    --size: 25px;
    height: var(--size);
    width: var(--size);
}

.mainDivider
{
    width: 100%;
    height: 2px;
    background-color: var(--dark40);
}

#content
{
    width: 100%;
    font-size: 20px;
}

#currentQueueList
{
    list-style: none;
    padding: 0;
    margin: 0;
    height: inherit;
    overflow-y: scroll;
}

#currentQueueList::-webkit-scrollbar
{
    background: none;
    width: 1px;
}

#currentQueueList::-webkit-scrollbar-thumb
{
    background-color: white;
    border-radius: 10em;
}

#currentQueueList::-webkit-scrollbar:hover { cursor: pointer; }

.currentQueueItems
{
    grid-template-columns: 1fr 8fr 1fr;
    margin: 0 .1em;
    padding: .5em 0;
    box-sizing: border-box;
    border-radius: .5rem;
    border: 2px solid transparent;
    transition: border-color ease 150ms;
}

.currentQueueItems:first-of-type { margin-top: .3em; }
.currentQueueItems:last-of-type { margin-bottom: .3em; }

.imgDragger, .imgOptions
{
    height: 1em;
    width: 1em;
}

.imgDragger { z-index: -1; }

.info::after
{
    content: attr(data-song-duration);
    position: absolute;
    font-size: .8em;
    bottom: 0;
    right: 0;
}

.song { font-size: 1.2em; }
.artist, .album { font-size: .7em; }







/* div-extras */
#choose, #getAlbumArt, #connect
{
    background: none;
    border-radius: 5px;
    margin: 1rem 0;
}

#choose, #getAlbumArt
{
    font-size: 50px;
    color: white;
    border: none;
}

.rpc { font-size: 20px; }

#discordAppID
{
    font-size: 1.2em;
    background: none;
    width: 15em;
    text-align: center;
    margin-top: 2em;
    border: .1em solid var(--accentOrange2);
}

#discordAppID:focus { outline: none; }

#connect
{
    font-size: 2rem;
    color: white;
    border: .1em solid var(--accentLightBlue1);
    padding: 0 .5em;
}