#displayRight .wrapper
{
    --wrapperMarginTopBottom: 3vh;
    grid-template-rows: auto 1fr;
    margin: 0 1.25em;
}

#topWrapper
{
    justify-content: center;
    align-self: self-start;
    margin-top: var(--wrapperMarginTopBottom);
}

#albumArtLyricsWrapper
{
    --size: calc(40vw / 1.55);
    height: var(--size);
    width: var(--size);
    align-items: center;
    transition: transform ease 200ms;
}

#lyricsWrapper
{
    padding: .5em;
    inset: 0;
}

#albumArt
{
    height: var(--size);
    width: var(--size);
}

#bottomWrapper
{
    font-size: 2rem;
    margin-bottom: var(--wrapperMarginTopBottom);
    align-self: self-end;
}

#songInfo
{
    margin: .3em 0;
}

.miscButtons
{
    background: none;
    border: none;
    margin-right: 1em;
}

.miscSVG
{
    height: 1.5rem;
}

#artistName, #albumName
{
    font-size: .5em;
}

#timeLine
{
    font-size: 1rem;
    margin: 1em 0;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr auto;
}

#theLine
{
    --scaleFactor: 0;
    height: .25em;
    width: auto;
    background-color: var(--accent);
    margin: auto 1em;
    transform: scaleX(var(--scaleFactor));
    transform-origin: left;
    transition: transform ease 100ms;
}

/*
#mediaButtons
{
    justify-content: center;
    margin-top: 1em;
}

#previousSong, #pauseORplay, #nextSong
{
    background: none;
    border: none;
    height: 35px;
    width: 35px;
}
*/

#mediaButtons
{
    grid-auto-flow: column;
    grid-template-columns: 1fr auto 1fr;
}

.svg
{
    transition: opacity ease-in-out 150ms;
    height: 35px;
    width: 35px;
}