* {
  user-select: none;
  color: white;
  font-family: "Andika";
}
*::-webkit-scrollbar {
  background: none;
  width: 2px;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--dark70);
}

body {
  font-size: 10px;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}
body::before {
  position: absolute;
  content: "";
  height: 100vh;
  width: 2px;
  background-color: var(--accent);
  left: 60vw;
  z-index: 1;
}
body #overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-size: 5rem;
  background-color: var(--dark25);
  z-index: 5;
}

button {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
}
button:hover {
  cursor: pointer;
}

input {
  user-select: auto !important;
  caret-color: var(--accent);
  border: none;
}
input:focus {
  outline: none;
  border-bottom-color: var(--accent) !important;
}
input.noMatch:focus {
  border-bottom-color: var(--accentRed1) !important;
}

.hover3D {
  transition: transform ease-in 50ms, border-radius ease-in 150ms, box-shadow ease-in 150ms;
}
.hover3D:hover {
  cursor: pointer;
  box-shadow: 0 0 15px black;
  border-radius: 5px;
}
