#navbar
{
    --size: 25px;
    --left: 0;
    --height: .15em;

    height: calc(100vh - var(--displayHeight));
    width: 100vw;
    background-color: var(--dark10);
    font-size: 20px;
}

#navbarList
{
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
}

#navbarList::after
{
    content: '';
    position: absolute;
    bottom: var(--height);
    left: var(--left);
    height: var(--height);
    width: calc( var(--size) * 1.7 );
    background-color: var(--accent);
    transition: left ease 250ms;
}

.navbarItems
{
    display: block;
    margin: calc( calc(100vh - var(--displayHeight) - var(--size)) / 2 ) 0;
}

.navbarItems:last-child { margin-left: 1.5em; }

.navbarButton
{
    background: none;
    padding: 0;
    border: none;
}

.navbarSVG
{
    height: var(--size);
    width: var(--size)
}

#focusHighlight button svg
{
    fill: white;
    transition: fill ease 100ms;
}