nav {
  --left: 0;
  --size: 25px;
  height: var(--navbarHeight);
  width: 100vw;
  background-color: var(--dark10);
  font-size: 20px;
}
nav * {
  pointer-events: none;
}
nav::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: var(--dark40);
  top: 0;
  left: 0;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-evenly;
}
nav ul::after {
  content: "";
  position: absolute;
  bottom: calc(0.15em + 2px);
  left: var(--left);
  height: 0.15em;
  width: calc(var(--size) * 1.7);
  background-color: var(--accent);
  transition: left ease 250ms;
}
nav ul li {
  display: block;
  margin: calc((var(--navbarHeight) - var(--size)) / 2) 0;
  cursor: pointer;
  pointer-events: all !important;
}
nav ul li svg {
  height: var(--size);
  width: var(--size);
  fill: var(--dark70);
}
nav ul li.current svg {
  fill: white;
  transition: fill ease 100ms;
}
nav ul li:last-child {
  margin-left: 1.5em;
}
