*
{
    user-select: none;
    color: white;
    font-family: 'Andika';
    /* outline: 0.5px solid red; */
}

body
{
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 10px;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(-135deg, hsl(0, 0%, 10%), hsl(0, 0%, 20%) 20%, hsl(0, 0%, 30%));
}

button
{
    padding: 0;
    margin: 0;
    background: none;
    border: none;
}

button:hover { cursor: pointer; }

input { user-select: auto; }

#separator
{
    height: 100vh;
    width: 2px;
    background-color: var(--accent);
    left: 60vw;
}

.greenBorder { border: 2px solid var(--accent) !important; }