*
{
    user-select: none;
    color: white;
    font-family: 'Andika';
    /* outline: 0.5px solid red; */
}

body
{
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 10px;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(-135deg, hsl(0, 0%, 10%), hsl(0, 0%, 20%) 20%, hsl(0, 0%, 30%));
}

#overlay
{
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 4rem;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(-135deg, hsl(0, 0%, 10%), hsl(0, 0%, 20%) 20%, hsl(0, 0%, 30%));
    z-index: 5;
}

button
{
    padding: 0;
    margin: 0;
    background: none;
    border: none;
}

button:hover { cursor: pointer; }

input { user-select: auto !important; }

#separator
{
    height: 100vh;
    width: 2px;
    background-color: var(--accent);
    left: 60vw;
}

.greenBorder { border: 2px solid var(--accent) !important; }


*::-webkit-scrollbar
{
    background: none;
    width: 2px;
}

*::-webkit-scrollbar-thumb { background-color: var(--dark70); }

.mainDivider
{
    width: 100%;
    height: 2px;
    background-color: var(--dark40);
}

.hover3D
{
    transition:
        transform ease-in 50ms,
        border-radius cubic-bezier(1, 0, 1, 1) 1s,
        box-shadow cubic-bezier(1, 0, 1, 1) 1s;
}

.hover3D:hover
{
    box-shadow: 0 0 40px black;
    border-radius: 1em;
}