#titleBar {
  --fs: 22px;
  font-size: var(--fs);
  height: var(--titleBarHeight);
  width: 100vw;
  background-color: var(--dark10);
  -webkit-app-region: drag;
}
#titleBar .app {
  margin: 0 1em;
}
#titleBar .buttons {
  grid-auto-flow: column;
  -webkit-app-region: no-drag;
}
#titleBar .buttons button {
  font-size: var(--fs);
  padding: 0 0.75em;
}
#titleBar .buttons button#close:hover {
  background-color: var(--accentRed3);
}
#titleBar .buttons button:not(#close):hover {
  background-color: var(--dark30);
}
#titleBar .buttons img {
  height: 0.75em;
  width: 0.75em;
}
