@use '../util';
@use '../colors.scss';

.section#folders
{
    .out
    {
        overflow: hidden;

        & > *:not(:first-child)
        {
            position: relative;
            @include util.divider(before, TopLeft);

            &::before { top: 0; }
        }

        .folders
        {
            overflow-y: auto;
            font-size: 1rem;
            list-style: none;
            margin: 0;
            padding: 0 1vw;

            .folder
            {
                display: flex;
                flex-direction: row;
                gap: 1em;
                align-items: center;
                margin: .5em 0;
                padding: .5em 1em;
                border: 2px solid transparent;
                border-radius: 5px;
                transition: border-color 150ms ease;
                pointer-events: all;
    
                * { pointer-events: none; }
    
                .name { font-size: 1.35em; }
    
                .path
                {
                    font-size: .7em;
                    color: colors.$dark90;
                    opacity: .6;
                }
    
                .deleteButton
                {
                    margin-left: auto;
                    display: none;
    
                    svg { fill: colors.$accentRed1; }
                }
    
                &.delete
                {
                    border-color: colors.$accentRed1;
                    .deleteButton { display: flex; }
                }
    
                &:hover
                {
                    border-color: var(--accent);
                    cursor: pointer;
                }
            }
        }

        .extras
        {
            overflow-y: auto;
            font-size: 1rem;
            list-style: none;
            margin: 0;
            padding: 0 1vw;

            li
            {
                display: flex;
                flex-direction: row;
                gap: 1em;
                align-items: center;
                margin: .5em 0;
                padding: .5em 1em;
                border: 2px solid transparent;
                border-radius: 5px;
                transition: border-color 150ms ease;
                pointer-events: all;
    
                * { pointer-events: none; }
    
                .name { font-size: 1.35em; }

                &:hover
                {
                    border-color: var(--accent);
                    cursor: pointer;
                }
            }
        }

        .folderOptions
        {
            font-size: 1rem;
            list-style: none;
            margin: 0;
            padding: 0 1vw;

            .folderOption
            {
                pointer-events: all;
                display: flex;
                flex-direction: row;
                gap: 1em;
                align-items: center;
                margin: .5em 0;
                padding: .5em 1em;
                border: 2px solid transparent;
                border-radius: 5px;
                transition:
                    border-color 150ms ease,
                    opacity 150ms ease;

                * { pointer-events: none; }
    
                &:hover, &.selected
                {
                    border-color: var(--accent);
                    cursor: pointer;
                }
            }

            &:has(.folderOption.selected) .folderOption
            {
                opacity: .6;

                &:not(.selected):hover
                {
                    border-color: transparent;
                    cursor: auto;
                }
            }
        }
    }

    .in
    {
        font-size: 1.25rem;
        height: 100%;

        .head
        {
            align-items: center;
            padding: 1em .5em;
            gap: .5em;

            svg
            {
                height: 1.5em;
                width: auto;
            }

            .name { font-size: 1.5em; }

            .path
            {
                font-size: .6em;
                color: colors.$dark90;
                opacity: .6;
            }
        }

        .info
        {
            position: relative;
            grid-template-columns: auto auto 1fr;
            gap: 1em;
            padding: .5em 1em;

            @include util.divider(after, BottomLeft);

            & > *
            {
                gap: .25em;
                align-items: center;
            }

            svg
            {
                height: 1em;
                width: auto;
            }

            .searchBar
            {
                width: auto;
                grid-template-columns: auto 1fr;

                input
                {
                    width: auto;
                    background: none;
                    padding: .25em;
                    margin: 0;
                    transition: border-bottom-color .5s ease;

                    @include util.inputBorderReset(bottom, 2px);
                }
            }
        }

        .songList
        {
            list-style: none;
            margin: 0;
            padding: 0;
            overflow-y: auto;
            flex-grow: 1;

            li
            {
                display: grid;
                grid-template-columns: 90% auto;
                gap: 1.5em;
                border: .1em solid transparent;
                border-radius: .5em;
                padding: 0 1.5em;
                transition: border-color 300ms ease;

                &, * { pointer-events: none; }
                & > * { pointer-events: all; }

                &:hover
                {
                    cursor: pointer;
                    border-color: var(--accent);
                }

                .songData
                {
                    padding: .5em 0;

                    .title { font-size: 1.2em; }

                    .artist, .album, .duration { font-size: .7em; }

                    .album { margin-right: auto; }
                }

                button
                {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    svg
                    {
                        height: 1em;
                        width: auto;
                    }
                }
            }
        }
    }
}