@use '../util';
@use '../colors.scss';

.section#folders
{
    @include util.inout();

    .out
    {
        overflow: hidden;

        & > *:not(:first-child)
        {
            position: relative;
            @include util.divider(before, TopLeft);

            &::before { top: 0; }
        }

        .folders
        {
            overflow-y: auto;
            font-size: 1rem;
            margin: 0;
            padding: 0 1vw;

            .folder
            {
                gap: 1em;
                align-items: center;
                margin: .25em 0;
                padding: .5em 1em;
                border: 2px solid transparent;
                border-radius: 5px;
                transition: border-color 150ms ease;
    
                * { pointer-events: none; }
    
                .name { font-size: 1.35em; }
    
                .path
                {
                    font-size: .7em;
                    color: colors.$dark90;
                    opacity: .6;
                }
    
                .deleteButton
                {
                    margin-left: auto;
                    display: none;
    
                    svg { fill: colors.$accentRed1; }
                }
    
                &.delete
                {
                    border-color: colors.$accentRed1;
                    .deleteButton { display: flex; }
                }
    
                &:hover
                {
                    border-color: var(--accent);
                    cursor: pointer;
                }
            }
        }

        .extras
        {
            overflow-y: auto;
            font-size: 1rem;
            margin: 0;
            padding: 0 1vw;

            & > *
            {
                gap: 1em;
                align-items: center;
                margin: .5em 0;
                padding: .5em 1em;
                border: 2px solid transparent;
                border-radius: 5px;
                transition: border-color 150ms ease;
    
                * { pointer-events: none; }
    
                .name { font-size: 1.35em; }

                &:hover
                {
                    border-color: var(--accent);
                    cursor: pointer;
                }
            }
        }

        .folderOptions
        {
            font-size: 1rem;
            margin: 0;
            padding: 0 1vw;

            .folderOption
            {
                gap: 1em;
                align-items: center;
                margin: .25em 0;
                padding: .5em 1em;
                border: 2px solid transparent;
                border-radius: 5px;
                transition:
                    border-color 150ms ease,
                    opacity 150ms ease;

                * { pointer-events: none; }
    
                &:hover, &.selected
                {
                    border-color: var(--accent);
                    cursor: pointer;
                }
            }

            &:has(.folderOption.selected) .folderOption
            {
                opacity: .6;

                &:not(.selected):hover
                {
                    border-color: transparent;
                    cursor: auto;
                }
            }
        }
    }

    .in
    {
        font-size: 1.25rem;
        height: 100%;

        .head
        {
            align-items: center;
            padding: 1em .5em;
            gap: .5em;

            svg
            {
                height: 1.5em;
                width: auto;
            }

            .name { font-size: 1.5em; }

            .path
            {
                font-size: .6em;
                color: colors.$dark90;
                opacity: .6;
            }
        }

        .info
        {
            position: relative;
            grid-template-columns: auto auto 1fr auto;
            gap: 1em;
            padding: .5em 1em;

            @include util.divider(after, BottomLeft);

            & > *
            {
                gap: .25em;
                align-items: center;
            }

            svg
            {
                height: 1em;
                width: auto;
            }

            .searchBar
            {
                width: auto;
                grid-template-columns: auto 1fr;

                input
                {
                    width: auto;
                    background: none;
                    padding: .25em;
                    margin: 0;
                    transition: border-bottom-color .5s ease;

                    @include util.inputBorderReset(bottom, 2px);
                }
            }

            button
            {
                transition: scale 200ms ease;

                svg
                {
                    fill: colors.$dark80;
                    transition: fill 200ms ease;
                }

                &.focus, &:hover
                {
                    scale: 1.05;
                    svg { fill: white; }
                }
            }
        }

        .songList
        {
            margin: 0;
            padding: 0;
            overflow-y: auto;
            flex-grow: 1;

            & > *
            {
                border: .1em solid transparent;
                border-radius: .5em;
                padding: 0 2em;
                transition: border-color 300ms ease;

                &, * { pointer-events: none; }
                & > * { pointer-events: auto; }

                &:hover
                {
                    cursor: pointer;
                    border-color: var(--accent);
                }

                .songData
                {
                    flex-grow: 1;
                    padding: .5em 0;
                    overflow-x: hidden;

                    .title { font-size: 1.2em; }
                    .artist, .album, .duration { font-size: .7em; }
                    .album { margin-right: auto; }
                }

                button
                {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 4em;

                    svg
                    {
                        height: 1em;
                        width: auto;
                    }

                    &.select
                    {
                        overflow: hidden;
                        width: 0;
                        margin: 0;
                    }
                }

                &.selectable button.select
                {
                    width: fit-content;
                    margin-right: 3em;
                }
            }
        }
    }

    .topPlaysModal
    {
        max-height: 85vh;
        width: 30vw;
        border-radius: 10px;
        background-color: var(--background);

        .selector
        {
            padding: .5em 0;
            font-size: 1.5rem;
            justify-content: center;
            gap: 1em;

            span
            {
                position: relative;;
                width: 6ch;
                text-align: center;
                z-index: 0;

                &::after
                {
                    position: absolute;
                    content: '';
                    height: .1em;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    border-radius: 1em;
                    background-color: var(--accent);
                    z-index: -1;
                    opacity: 0;
                    transition: opacity 200ms ease;
                }

                &:hover { cursor: pointer; }

                &.selected::after { opacity: 1; }
            }
        }

        .divider
        {
            width: 100%;
            height: .25em;
            background-color: var(--accent2);
        }

        .imgWrapper
        {
            justify-content: center;
            border-radius: 50%;
            overflow: hidden;

            img
            {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .podium
        {
            margin: 1em 0;
            justify-content: center;
            gap: 1.25em;

            & > *
            {
                font-size: 1rem;
                gap: .5em;
                display: grid;
                grid-template-rows: 3em auto auto;
                align-self: end;

                img
                {
                    height: 100%;
                    aspect-ratio: 1;
                }

                .bar
                {
                    position: relative;
                    justify-self: center;
                    align-self: end;
                    width: 50%;
                    transition: height 200ms ease;
                }

                &._1 .bar { background-color: #C9B037; }
                &._2 .bar { background-color: #B4B4B4; }
                &._3 .bar { background-color: #AD8A56; }

                span { text-align: center; }
            }
        }

        .leaderboard
        {
            overflow-y: auto;

            .item
            {
                display: grid;
                grid-template-columns: 3ch 5vw auto 7.5vw 5ch;
                gap: 1em;
                margin: .5em 1em;

                .position, .playCount
                {
                    text-align: center;
                    place-self: center;
                }


                img, .imgWrapper
                {
                    width: 100%;
                    aspect-ratio: 1;
                }

                .songData
                {
                    overflow: hidden;
                    justify-content: center;

                    .big { font-size: 1.2em; }
                }

                .bar
                {
                    height: .5em;
                    background-color: var(--accent);
                    align-self: center;
                    justify-self: right;
                    border-radius: 1em;
                    transition: width 200ms ease;
                }
            }
        }

        .noData
        {
            font-size: 1rem;
            height: 10vh;
            text-align: center;
            align-content: center;
        }
    }

    .progressModal
    {
        width: 40vw;
        align-items: center;
        gap: 2em;

        span { font-size: 1rem; }

        svg
        {
            width: 10vw;

            .CircularProgressbar-trail { stroke: white; }
            .CircularProgressbar-path { stroke: var(--accent); }
            
            text
            {
                fill: var(--accent);
                dominant-baseline: central;
            }
        }
    }
}