@use '../util';
@use '../colors.scss';

.section#queues
{
    & > *
    {
        padding-left: 1em !important;
        padding-right: 1em !important;
    }

    .queuesHolder
    {
        font-size: 1rem;
        height: 50vh;
        aspect-ratio: .9/1;
        background-color: var(--background);
        border-radius: 5px;

        .head
        {
            font-size: 1.5em;
            margin: 0;
            padding: .5em .75em;

            & > *:last-child { margin-left: auto; }
            
            @include util.divider(after, BottomLeft);

            svg
            {
                height: 1.25em;
                width: 1.25em;
            }
        }

        .queuesList
        {
            overflow-x: hidden;
            overflow-y: auto;
            margin: .5em 0;
    
            .listItem
            {
                position: relative;
                font-size: 1.15rem;
                display: grid;
                grid-template-columns: auto 1fr auto auto;
                gap: 1em;
                margin: 0 .1em;
                padding: .2em 1em;
                align-items: center;
                box-sizing: border-box;
                border-radius: 5px;
                border: 2px solid transparent;
                transition: all ease 100ms;
                
                & > *:hover { cursor: pointer; }
    
                &.dragging
                {
                    border-color: white;
                    scale: 1.015;
                    background-color: colors.$dark40;
                    // box-shadow: 0 0 20px -10px white;
                    z-index: 1;
                    cursor: grab;
                }
    
                &.current { border-color: var(--accent); }
    
                .drag { cursor: grab; }
            }
        }
        
        .renamer
        {
            --top: 0;

            position: absolute;
            font-size: 1.15rem;
            grid-template-columns: auto 1fr auto auto;
            gap: 1em;
            align-items: center;
            top: var(--top);
            left: 1.175em;
            background-color: var(--background);

            input
            {
                width: 100%;
                font-size: 1.15rem;
                background: white;
                padding: .25em;
                color: var(--background);
                border-radius: 2.5px;
                margin-right: .5em;
            }
        }
    }

    .head
    {
        margin: .5em 0;
        gap: 1em;

        .queueSelector
        {
            font-size: 1rem;
            padding: .5em 2ch;
            border: .1em solid colors.$dark50;
            border-radius: 5px;
            align-items: center;
    
            .name
            {
                font-size: 1.5em;
                margin-right: auto;
            }
    
            svg { rotate: 90deg; }
    
            &:hover { cursor: pointer; }
        }
        
        .currentQueueInfo
        {
            position: relative;
            align-items: center;
            justify-content: center;
            gap: 10vw;
            padding-bottom: 1em;
    
            & > *
            {
                font-size: 1rem;
                gap: .25em;
                align-items: center;
            }

            @include util.divider(after, BottomLeft);
        }
    }

    .currentQueueList
    {
        overflow-x: hidden;
        overflow-y: auto;

        .listItem
        {
            position: relative;
            font-size: 1rem;
            font-style: italic;
            display: grid;
            grid-template-columns: auto 1fr auto;
            gap: 2em;
            margin: .25em 0;
            padding: .2em 2em;
            box-sizing: border-box;
            border-radius: 5px;
            border: 2px solid transparent;
            transition: all ease 100ms;
            
            * { pointer-events: none; }

            & > *
            {
                pointer-events: all;

                &:hover { cursor: pointer; }
            }

            &.dragging
            {
                border-color: white;
                scale: 1.015;
                background-color: colors.$dark30;
                // box-shadow: 0 0 20px -10px white;
                z-index: 1;
                cursor: grab;
            }

            &.current { border-color: colors.$dark80; }

            .drag { cursor: grab; }
            
            .songData
            {
                padding: .5em 0;

                .title { font-size: 1.2em; }

                .artist, .album, .duration { font-size: .7em; }

                .album { margin-right: auto; }
            }

            button
            {
                display: flex;
                align-items: center;
                justify-content: center;

                svg
                {
                    height: 1em;
                    width: auto;
                }
            }
        }

        &.playing .listItem
        {
            font-style: normal;
            
            &.current { border-color: var(--accent); }
        }
    }
}