@use '../util';

@mixin shadow($item)
{
    #{$item}
    {
        border-radius: .25em;
        box-shadow: 0px 2.75em 20px 0px var(--dark20);
    }
}

section.album
{
    .out
    {
        .head
        {
            position: relative;
            padding: 1em;

            .searchBar
            {
                align-self: flex-start;
                align-items: center;
                gap: .25em;

                img
                {
                    height: 1.5em;
                    aspect-ratio: 1;
                }

                input
                {
                    background: none;
                    margin: 0;
                    width: calc(.7 * 60vw);
                    transition: border-bottom-color .5s ease;

                    @include util.inputBorderReset(bottom, 2px);
                }
            }

            .misc
            {
                font-size: 1.5em;
                margin-left: auto;
                margin-right: 0;

                .count
                {
                    align-items: center;
                    gap: .25em;

                    img
                    {
                        height: 1.25em;
                        aspect-ratio: 1;
                    }
                }
            }

            @include util.divider(after, BottomLeft);
        }

        .body
        {
            flex-wrap: wrap;
            gap: 2em;
            padding: 1em 4em;
            justify-content: space-evenly;
            overflow-y: auto;
    
            .albumItem
            {
                * { pointer-events: none; }

                $picSize: 150px;
    
                text-align: center;
                width: $picSize;
                padding: .5em;
                // opacity: 0;
                transition: opacity 250ms ease 100ms;

                &.visible { opacity: 1; }
                
                img
                {
                    height: $picSize;
                    width: $picSize;
                    transition: all 250ms ease;
                }

                &.focus { @include shadow(img); }

                &:hover
                {
                    cursor: pointer;

                    @include shadow(img);
                }
    
                .albumName { padding: .5em 0; }
            }
        }
    }

    .in
    {
        .head
        {
            padding: 2.5em 0;
            gap: 2em;

            @include util.divider(after, BottomLeft);

            #backToAlbumOut
            {
                aspect-ratio: 1;
                height: 2em;
                align-self: center;
                margin-left: 1em;

                * { pointer-events: none; }
            }

            .albumArt
            {
                align-self: center;
                height: 200px;
                width: 200px;
            }

            .content
            {
                align-self: flex-end;
                gap: 1.5em;

                .name { font-size: 4em; }
                
                .info
                {
                    font-size: 1.75em;

                    & > *
                    {
                        display: flex;
                        align-items: center;
                        margin-right: .5em;

                        img
                        {
                            height: 1em;
                            width: 1em;
                        }

                        * { margin-right: .25em; }
                    }

                    #albumArtistInAlbumItem
                    {
                        position: relative;
                        line-height: 1.75;

                        &::after
                        {
                            content: '';
                            position: absolute;
                            height: 2px;
                            background-color: var(--accent);
                            bottom: 0;
                            left: 0;
                            right: 0;
                            transform: scaleX(0);
                            transform-origin: right;
                            transition: transform 250ms ease;
                        }

                        &:hover
                        {
                            cursor: pointer;

                            &::after
                            {
                                transform-origin: left;
                                transform: scaleX(1);
                            }
                        }
                    }
                }

                .searchBar
                {
                    align-items: center;
                    gap: .25em;

                    img
                    {
                        height: 1.5em;
                        width: 1.5em;
                    }

                    input
                    {
                        width: 100%;
                        margin: 0;
                        background: none;
                        transition: border-bottom-color .5s ease;

                        @include util.inputBorderReset(bottom, 2px);
                    }
                }
            }
        }

        .body
        {
            $number: 2.5vw;
            $song: 43vw;
            $plays: 7vw;

            padding: 0 2em;
            flex-grow: 1;
            overflow: hidden;
            
            .columnDividers
            {
                align-items: center;
                padding: 1em 0;

                @include util.divider(after, BottomLeft);

                img
                {
                    height: 1.5em;
                    width: 1.5em;
                }

                .number
                {
                    width: $number;
                    border-left: .2em solid transparent;
                }

                .duration
                {
                    flex-grow: 1;
                    align-self: center;
                    border-right: .2em solid transparent;
                }

                .song { width: $song; }
                .plays { width: $plays; }
            }

            #songListInAlbum
            {
                list-style: none;
                margin: 0;
                padding: 0;
                flex-grow: 1;
                overflow-y: auto;
                
                li
                {
                    display: flex;
                    align-items: center;
                    padding: .5em 0;
                    margin: 1em 0;
                    border: .2em solid transparent;
                    border-radius: .5em;
                    transition: border-color 300ms ease;

                    * { pointer-events: none; }

                    .song
                    {
                        width: $song;
                        display: flex;
                        flex-direction: column;

                        .artist
                        {
                            font-size: 1.5em;
                            color: var(--dark90);
                        }

                        .name { font-size: 2.25em; }
                    }

                    .plays
                    {
                        width: $plays;
                        font-size: 1.5em;
                    }

                    .duration
                    {
                        font-size: 1.5em;
                        flex-grow: 1;
                        text-align: center;
                    }

                    &:hover
                    {
                        cursor: pointer;
                        border-color: var(--accent);
                    }

                    &::before
                    {
                        content: attr(data-track-number);
                        width: $number;
                        text-align: center;
                    }
                }
            }
        }
    }
}