section.extras
{
    justify-content: center;

    #choose, #getAlbumArt
    {
        font-size: 50px;
        color: white;
        border: none;
        background: none;
        border-radius: 5px;
        margin: 1rem 0;
    }

    .rpc
    {
        font-size: 20px;

        #discordAppID
        {
            font-size: 1.2em;
            background: none;
            width: 15em;
            text-align: center;
            margin: 1em 0;
            border: .1em solid var(--accentOrange2);
            border-radius: .2em;

            &:focus { outline: none; }
        }

        #connect
        {
            font-size: 2rem;
            background: none;
            color: white;
            border: .1em solid var(--accentLightBlue1);
            border-radius: .2em;
            padding: 0 .5em;
        }
    }

    .fontSelection
    {
        margin-top: 6em;
        margin-left: 3em;
        
        .choose
        {
            font-size: 2.5em;
            
            img
            {
                height: .75em;
                aspect-ratio: 1;
                rotate: 180deg;
                margin-left: .2em;
            }
        }

        .checkboxes
        {
            font-size: 1.5em;
            top: 0;
            left: 11em;
            margin: 0;
            visibility: hidden;

            li
            {
                margin: .75em 0;
                padding-left: .5em;
                border-left: .2em solid transparent;
                transition: border-color 150ms ease;

                &.currentFont { border-color: var(--accent) !important; }

                &:hover
                {
                    border-color: var(--accentPurple1);
                    cursor: pointer;
                }

                &::marker { content: ''; }
            }
        }
    }
}