section.album .out .head {
  position: relative;
  padding: 1em;
}
section.album .out .head .searchBar {
  align-self: flex-start;
  align-items: center;
  gap: 0.25em;
}
section.album .out .head .searchBar img {
  height: 1.5em;
  aspect-ratio: 1;
}
section.album .out .head .searchBar input {
  background: none;
  margin: 0;
  width: 42vw;
  transition: border-bottom-color 0.5s ease;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
}
section.album .out .head .misc {
  font-size: 1.5em;
  margin-left: auto;
  margin-right: 0;
}
section.album .out .head .misc .count {
  align-items: center;
  gap: 0.25em;
}
section.album .out .head .misc .count img {
  height: 1.25em;
  aspect-ratio: 1;
}
section.album .out .head::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: var(--dark40);
  bottom: 0;
  left: 0;
}
section.album .out .body {
  flex-wrap: wrap;
  gap: 2em;
  padding: 1em 4em;
  justify-content: space-evenly;
  overflow-y: auto;
}
section.album .out .body .albumItem {
  text-align: center;
  width: 150px;
  padding: 0.5em;
  opacity: 0;
  transition: opacity 250ms ease 100ms;
}
section.album .out .body .albumItem * {
  pointer-events: none;
}
section.album .out .body .albumItem.visible {
  opacity: 1;
}
section.album .out .body .albumItem img {
  height: 150px;
  width: 150px;
  transition: all 250ms ease;
}
section.album .out .body .albumItem.focus img {
  border-radius: 0.25em;
  box-shadow: 0px 2.75em 20px 0px var(--dark20);
}
section.album .out .body .albumItem:hover {
  cursor: pointer;
}
section.album .out .body .albumItem:hover img {
  border-radius: 0.25em;
  box-shadow: 0px 2.75em 20px 0px var(--dark20);
}
section.album .out .body .albumItem .albumName {
  padding: 0.5em 0;
}
section.album .in .head {
  padding: 2.5em 0;
  gap: 2em;
}
section.album .in .head::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: var(--dark40);
  bottom: 0;
  left: 0;
}
section.album .in .head #backToAlbumOut {
  aspect-ratio: 1;
  height: 2em;
  align-self: center;
  margin-left: 1em;
}
section.album .in .head #backToAlbumOut * {
  pointer-events: none;
}
section.album .in .head .albumArt {
  position: relative;
}
section.album .in .head .albumArt img {
  height: 200px;
  width: 200px;
  box-shadow: 0 0 2px 1px none;
  transition: border-radius 0.5s ease, box-shadow 0.5s ease, opacity 0.5s ease;
}
section.album .in .head .albumArt::after {
  content: url(../../svg/play.svg);
  position: absolute;
  inset: 0;
  padding: 3em;
  transform: scale(0.45);
  opacity: 0;
  border: 1em solid var(--dark80);
  border-radius: 50%;
  transition: opacity 0.5s ease;
}
section.album .in .head .albumArt:hover {
  cursor: pointer;
}
section.album .in .head .albumArt:hover img {
  border-radius: 0.25em;
  box-shadow: 0 0 2px 1px black;
  opacity: 0.5;
}
section.album .in .head .albumArt:hover::after {
  opacity: 1;
}
section.album .in .head .content {
  align-self: flex-end;
  gap: 1.5em;
}
section.album .in .head .content .name {
  font-size: 4em;
}
section.album .in .head .content .info {
  font-size: 1.75em;
}
section.album .in .head .content .info > * {
  display: flex;
  align-items: center;
  margin-right: 0.5em;
}
section.album .in .head .content .info > * img {
  height: 1em;
  width: 1em;
}
section.album .in .head .content .info > * * {
  margin-right: 0.25em;
}
section.album .in .head .content .info #albumArtistInAlbumItem {
  position: relative;
  line-height: 1.75;
}
section.album .in .head .content .info #albumArtistInAlbumItem::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: var(--accent);
  bottom: 0;
  left: 0;
  right: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease;
}
section.album .in .head .content .info #albumArtistInAlbumItem:hover {
  cursor: pointer;
}
section.album .in .head .content .info #albumArtistInAlbumItem:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}
section.album .in .head .content .searchBar {
  align-items: center;
  gap: 0.25em;
}
section.album .in .head .content .searchBar img {
  height: 1.5em;
  width: 1.5em;
}
section.album .in .head .content .searchBar input {
  width: 100%;
  margin: 0;
  background: none;
  transition: border-bottom-color 0.5s ease;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
}
section.album .in .body {
  padding: 0 2em;
  flex-grow: 1;
  overflow: hidden;
}
section.album .in .body .columnDividers {
  align-items: center;
  padding: 1em 0;
}
section.album .in .body .columnDividers::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: var(--dark40);
  bottom: 0;
  left: 0;
}
section.album .in .body .columnDividers img {
  height: 1.5em;
  width: 1.5em;
}
section.album .in .body .columnDividers .number {
  width: 2.5vw;
  border-left: 0.2em solid transparent;
}
section.album .in .body .columnDividers .duration {
  flex-grow: 1;
  align-self: center;
  border-right: 0.2em solid transparent;
}
section.album .in .body .columnDividers .song {
  width: 43vw;
}
section.album .in .body .columnDividers .plays {
  width: 7vw;
}
section.album .in .body #songListInAlbum {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  overflow-y: auto;
}
section.album .in .body #songListInAlbum li {
  display: flex;
  align-items: center;
  padding: 0.5em 0;
  margin: 1em 0;
  border: 0.2em solid transparent;
  border-radius: 0.5em;
  transition: border-color 300ms ease;
}
section.album .in .body #songListInAlbum li .song {
  width: 43vw;
  display: flex;
  flex-direction: column;
}
section.album .in .body #songListInAlbum li .song .artist {
  font-size: 1.5em;
  color: var(--dark90);
}
section.album .in .body #songListInAlbum li .song .name {
  font-size: 2.25em;
}
section.album .in .body #songListInAlbum li .plays {
  width: 7vw;
  font-size: 1.5em;
}
section.album .in .body #songListInAlbum li .duration {
  font-size: 1.5em;
  flex-grow: 1;
  text-align: center;
}
section.album .in .body #songListInAlbum li:hover {
  cursor: pointer;
  border-color: var(--accent);
}
section.album .in .body #songListInAlbum li::before {
  content: attr(data-track-number);
  width: 2.5vw;
  text-align: center;
}
