section.folder { overflow-y: auto; }

#folders
{
    font-size: 1.1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.folderItem
{
    grid-auto-flow: column;
    grid-template-columns: 1fr 15fr 1fr;
    align-items: center;
    margin: .5em 0;
    padding: .5em 1em;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: border-color 150ms ease;
    pointer-events: all;
}

.folderItem *:not(.deleteFolder) { pointer-events: none; }

.folderItem:hover
{
    border-color: var(--accent);
    cursor: pointer;
}

.folder
{
    --size: 1.7em;
    height: var(--size);
    width: var(--size);
}

.folderItem .name { font-size: 1.35em; }

.folderItem .path
{
    font-size: .7em;
    color: var(--dark80);
}

.deleteFolder
{
    --size: 1em;
    height: var(--size);
    width: var(--size);
    justify-content: end;
    opacity: 0;
}

.folderOptions
{
    font-size: 1.1rem;
    grid-auto-flow: column;
    grid-template-columns: 1fr 15fr 1fr;
    align-items: center;
    margin: .5em 0;
    padding: 1em;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: border-color 150ms ease;
}

.folderOptions:hover
{
    border-color: var(--accent);
    cursor: pointer;
}

.folderOptions * { pointer-events: none; }

.folderOptions img
{
    --size: 1.7em;
    height: var(--size);
    width: var(--size);
}

#folderIn { font-size: 20px; }

#title
{
    align-items: center;
    padding: 1em .5em;
}

#backIcon
{
    --size: 1.5em;
    height: var(--size);
    width: var(--size);
}

#backIcon:hover { cursor: pointer; }

#folderName
{
    font-size: 1.5em;
    margin: 0 .5em;
}

#belowTitle
{
    grid-template-columns: auto auto 1fr;
    padding: .5em 0;
}

#belowTitle > *:not(.searchBar) { align-items: center; }

#belowTitle > * { margin: 0 1em; }

#belowTitle .marginLeft { margin-left: .5em !important; }

#belowTitle > div > img
{
    --size: 1em;
    height: var(--size);
    width: var(--size);
}

.searchBar
{
    width: auto;
    grid-template-columns: auto 1fr;
    align-items: center;
}

#searchInput
{
    width: auto;
    background: none;
    padding: 0;
    margin: 0;
    border: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color .5s ease;
}

#searchInput:focus
{
    outline: none;
    border-bottom-color: var(--accent);
}

#songListInFolder
{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

.songListInFolderItems
{
    --sweetSpot: .87;
    grid-template-columns: calc(60vw * var(--sweetSpot)) auto;
}

.songListInFolderItems > div { margin: .5em 2.5em; }

.after::after
{
    content: attr(data-song-duration);
    position: absolute;
    font-size: .8em;
    bottom: 0;
    right: 0;
}

.songListInFolderItems .songName { font-size: 1.2em; }

.songListInFolderItems .artistName,
.songListInFolderItems .albumName
{ font-size: .7em; }

.songListInFolderItems img
{
    --size: 1em;
    height: var(--size);
    width: var(--size);
}