#queueListMenu {
  font-size: 20px;
  width: 42vw;
  height: 80vh;
  top: 50;
  left: 100;
  border-radius: 5px;
  background-color: var(--dark30);
  z-index: 1;
}
#queueListMenu .head {
  padding: 0.7em 0.5em;
}
#queueListMenu .head > img {
  height: 1.5em;
  width: 1.5em;
  align-self: center;
  margin-left: 1em;
}
#queueListMenu .head > span {
  font-size: 1.5em;
  margin-left: 0.7em;
}
#queueListMenu .head .close {
  align-self: center;
  right: 5%;
}
#queueListMenu .head .close img {
  height: 1em;
  width: 1em;
}
#queueListMenu #queueList {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}
#queueListMenu #queueList li {
  grid-template-columns: 1fr 8fr 1fr;
  margin: 0 0.1em;
  padding: 0.5em 0;
  transition: border-color ease 150ms;
}
#queueListMenu #queueList li:first-of-type {
  margin-top: 0.3em;
}
#queueListMenu #queueList li:last-of-type {
  margin-bottom: 0.3em;
}
#queueListMenu #queueList li img {
  height: 1em;
  width: 1em;
}
#queueListMenu #queueList li .dragger img {
  z-index: -1;
}
#queueListMenu #queueList::-webkit-scrollbar {
  background: none;
  width: 1px;
}
#queueListMenu #queueList::-webkit-scrollbar-thumb {
  background-color: var(--dark80);
}
#queueListMenu .queueNames {
  pointer-events: none;
}

section.queue .headTop {
  width: 100%;
  font-size: 20px;
  padding: 0.5em 0;
}
section.queue .headTop .queueListWrapper {
  font-size: 25px;
  width: 51vw;
  border: 0.1em solid var(--dark40);
  border-radius: 0.5em;
  padding: 0.4em 0.7em;
  margin-left: 0.5em;
}
section.queue .headTop .queueListWrapper img {
  height: 20px;
  width: 20px;
  align-self: center;
  right: 1em;
}
section.queue .headTop #deleteCurrentQueue {
  align-self: center;
  margin-left: auto;
  margin-right: 1.5em;
}
section.queue .headTop #deleteCurrentQueue img {
  height: 25px;
  width: 25px;
}
section.queue .headBottom {
  width: 100%;
  font-size: 20px;
  padding: 0.5em 0;
}
section.queue #queuesHolder {
  width: 100%;
  font-size: 20px;
}
section.queue #queuesHolder ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: inherit;
  overflow-y: scroll;
  display: none;
}
section.queue #queuesHolder ul.current {
  display: flex !important;
  flex-direction: column;
}
section.queue #queuesHolder ul::-webkit-scrollbar {
  background: none;
  width: 1px;
}
section.queue #queuesHolder ul::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10em;
}
section.queue #queuesHolder ul li {
  grid-template-columns: 1fr 8fr 1fr;
  margin: 0 0.1em;
  padding: 0.5em 0;
  box-sizing: border-box;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  transition: border-color ease 150ms;
}
section.queue #queuesHolder ul li:first-of-type {
  margin-top: 0.3em;
}
section.queue #queuesHolder ul li:last-of-type {
  margin-bottom: 0.3em;
}
section.queue #queuesHolder ul li img {
  font-size: 20px;
  height: 1em;
  width: 1em;
}
section.queue #queuesHolder ul li .dragger img {
  z-index: -1;
}
section.queue #queuesHolder ul li .info > * {
  font-size: 0.7em;
}
section.queue #queuesHolder ul li .info > *:first-of-type {
  font-size: 1.2em;
}
section.queue #queuesHolder ul li .info::after {
  content: attr(data-song-duration);
  position: absolute;
  font-size: 0.8em;
  bottom: 0;
  right: 0;
}
