@mixin divider($pseudo, $position)
{
    &::#{$pseudo}
    {
        $height: 2.5px;

        content: '';
        position: absolute;
        height: $height;
        width: 100%;
        background-color: var(--accent2);

        @if $position == 'TopLeft'
        {
            top: -$height;
            left: 0;
        }

        @if $position == 'TopRight'
        {
            top: -$height;
            right: 0;
        }

        @if $position == 'BottomLeft'
        {
            bottom: -$height;
            left: 0;
        }

        @if $position == 'BottomRight'
        {
            bottom: -$height;
            right: 0;
        }
    }
}

@mixin sliderHorizontal($height, $width, $diameterMultiplier)
{
    $diameter: $height * $diameterMultiplier;
    
    --progress: 0%;

    position: relative;
    background-color: var(--dark40);
    height: $height;
    width: $width;
    border-radius: 1em;
    isolation: isolate;
    z-index: 1;

    &::before
    {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        height: inherit;
        width: var(--progress);
        background-color: var(--accent);
        border-radius: inherit;
        z-index: 2;
    }

    &::after
    {
        position: absolute;
        content: '';
        top: - (($diameter - $height) / 2);
        left: calc(var(--progress) - ($diameter / 2));
        height: $diameter;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: white;
        opacity: 0;
        transition: opacity 250ms ease;;
        z-index: 3;
    }

    &:hover
    {
        cursor: pointer;
        
        &::after { opacity: 1; }
    }
}

@mixin sliderVertical($height, $width, $diameterMultiplier)
{
    $diameter: $width * $diameterMultiplier;
    
    --progress: 0%;

    position: relative;
    background-color: var(--dark40);
    height: $height;
    width: $width;
    border-radius: 1em;
    isolation: isolate;
    z-index: 1;

    &::before
    {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        height: var(--progress);
        width: inherit;
        background-color: var(--accent);
        border-radius: inherit;
        z-index: 2;
    }

    &::after
    {
        position: absolute;
        content: '';
        top: calc(var(--progress) - ($diameter / 2));
        left: -(($diameter - $width) / 2);
        width: $diameter;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: white;
        opacity: 0;
        transition: opacity 250ms ease;;
        z-index: 3;
    }

    &:hover
    {
        cursor: pointer;
        
        &::after { opacity: 1; }
    }
}

@mixin inputBorderReset($tblf, $width)
{
    border-#{$tblf}-width: $width;
    border-#{$tblf}-style: solid;
    border-#{$tblf}-color: transparent;
}

@mixin inout()
{
    overflow: hidden;

    .out, .in
    {
        position: absolute;
        inset: 0;
        opacity: 0;
        z-index: 0;
        transition:
            transform 300ms ease-in-out,
            opacity 300ms ease-in-out;

        &.out { transform: translateY(-25px); }
        &.in { transform: translateY(25px); }

        &::before
        {
            content: '';
            position: absolute;
            inset: 0;
            z-index: 1;
        }

        &.show
        {
            z-index: 2;
            opacity: 1;
            transform: translateY(0);

            &::before { z-index: -1; }
        }
    }
}