@use './util';

#displayLeft
{  
    max-width: var(--displayLeftWidth);
    transition: transform ease 250ms;
    overflow-x: auto;

    &::-webkit-scrollbar { display: none; }

    & > .section
    {
        min-height: var(--displayHeight);
        max-height: var(--displayHeight);
        min-width: var(--displayLeftWidth);
        max-width: var(--displayLeftWidth);
    }

    #displayLeftOverlay
    {
        height: var(--displayHeight);
        width: 60vw;
        background-color: var(--dark25);
        z-index: -1;
        opacity: 0;
        filter: brightness(1);
        transition:
            opacity 250ms ease,
            filter 250ms ease,
            transform 250ms ease;

        &.visible
        {
            z-index: 1;
            opacity: 0.75;
            filter: brightness(0.8);
        }
    }
}