@use './util';

#displayLeft
{  
    max-width: var(--displayLeftWidth);
    transition: transform ease 250ms;
    overflow-x: auto;

    &::-webkit-scrollbar { display: none; }

    & > .section
    {
        min-height: var(--displayHeight);
        max-height: var(--displayHeight);
        min-width: var(--displayLeftWidth);
        max-width: var(--displayLeftWidth);
    }
}