@use './util';
@use './colors.scss';

#displayRight
{
    min-width: var(--displayRightWidth);
    max-width: var(--displayRightWidth);
    gap: 2.5vh;
    justify-content: center;
    padding: 3vh 0;
    overflow: hidden;
    
    & > * { padding: 0 2.5vw; }

    .albumartWrapper
    {
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        transition: scale 200ms ease;
        
        .albumart
        {
            height: 45vh;
            aspect-ratio: 1;
        }

        &.paused { scale: 0.975; }
    }

    .info
    {
        font-size: 1.25rem;
        gap: .25em;

        .small { font-size: .75em; }
    }

    .miscButtons
    {
        gap: 1em;
        
        button
        {
            transition: scale 200ms ease;

            svg
            {
                fill: colors.$dark80;
                transition: fill 200ms ease;
            }

            &:hover
            {
                scale: 1.05;
                svg { fill: white; }
            }
        }
    }

    .timeline
    {
        gap: 1em;
        
        & > span
        {
            font-size: .9rem;
            min-width: 5ch;
            align-self: center;
            text-align: center;
        }
    }

    .mediaButtons
    {
        position: relative;
        justify-content: center;
        gap: 3vw;

        button
        {
            transition: scale 200ms ease;

            svg
            {
                height: 2em;
                width: auto;
                fill: colors.$dark80;
                transition: fill 200ms ease;
            }

            &:first-of-type
            {
                margin-right: auto;
                svg { height: 1em; }
            }

            &:last-of-type
            {
                margin-left: auto;
                svg { height: 1em; }
            }

            &:hover, &.current
            {
                scale: 1.05;
                svg { fill: white; }
            }
        }

        .volumeSlider
        {
            position: absolute;
            gap: 2em;
            top: 0;
            bottom: 0;
            left: 3vh * 3;
            right: 3vh;
            background-color: transparent;
            backdrop-filter: blur(10px);
            align-items: center;
            padding: 0 1em;
            border: .2em solid var(--accent);
            border-radius: .5em;
            box-sizing: border-box;
            
            span
            {
                font-size: 1rem;
                width: 3ch;
                text-align: center;
            }
        }
    }
}