@use './util';
@use './colors.scss';

#displayRight
{
    min-width: var(--displayRightWidth);
    max-width: var(--displayRightWidth);
    gap: 2.5vh;
    justify-content: center;
    padding: 3vh 0;
    
    & > * { padding: 0 2.5vw; }

    .albumartWrapper
    {
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        transition: scale 200ms ease;
        
        img
        {
            object-fit: contain;
            width: 27.5vw;
            aspect-ratio: 1;
        }

        &.paused { scale: 0.975; }
    }

    .info
    {
        font-size: 1.25rem;
        gap: .25em;
        
        .small
        {
            font-size: .75em;
            position: relative;
            max-width: fit-content;

            &::after
            {
                content: '';
                position: absolute;
                height: .1em;
                background-color: var(--accent);
                bottom: 0;
                left: 0;
                right: 0;
                transform: scaleX(0);
                transform-origin: right;
                transition: transform 250ms ease;
            }

            &:hover
            {
                cursor: pointer;

                &::after
                {
                    transform-origin: left;
                    transform: scaleX(1);
                }
            }
        }
    }

    .miscButtons
    {
        gap: 1em;
        
        button
        {
            transition: scale 200ms ease;

            * { pointer-events: none; }

            svg
            {
                fill: colors.$dark80;
                transition: fill 200ms ease;
            }

            &:hover
            {
                scale: 1.05;
                svg { fill: white; }
            }
        }
    }

    .timeline
    {
        gap: 1em;
        
        & > span
        {
            font-size: .9rem;
            min-width: 5ch;
            align-self: center;
            text-align: center;
        }
    }

    .mediaButtons
    {
        position: relative;
        justify-content: center;
        gap: 3vw;

        button
        {
            transition: scale 200ms ease;

            svg
            {
                height: 2em;
                width: auto;
                fill: colors.$dark80;
                transition: fill 200ms ease;
            }

            &:first-of-type
            {
                margin-right: auto;
                svg { height: 1em; }
            }

            &:last-of-type
            {
                margin-left: auto;
                svg { height: 1em; }
            }

            &:hover, &.current
            {
                scale: 1.05;
                svg { fill: white; }
            }
        }

        .volumeSlider
        {
            position: absolute;
            gap: 2em;
            top: 0;
            bottom: 0;
            left: 3vh * 3;
            right: 3vh;
            background-color: transparent;
            backdrop-filter: blur(10px);
            align-items: center;
            padding: 0 1em;
            border: .2em solid var(--accent);
            border-radius: .5em;
            box-sizing: border-box;
            
            span
            {
                font-size: 1rem;
                width: 3ch;
                text-align: center;
            }
        }
    }

    .lyricsModal
    {
        font-size: 1rem;
        height: 60vh;
        aspect-ratio: .75/1;
        background-color: var(--background);
        border-radius: 5px;
        overflow-x: hidden;
        
        .head
        {
            font-size: 1.5em;
            margin: 0;
            padding: .5em .75em;
            gap: 1em;
            align-items: center;
        
            & > *:last-child { margin-left: auto; }

            .title
            {
                overflow: hidden;
                gap: .25em;

                .dim { opacity: .75; white-space: nowrap; }
            }
            
            @include util.divider(after, BottomLeft);
        }

        .lyrics
        {
            gap: 1em;
            padding: 1em 2em;
            flex-grow: 1;
            overflow-x: hidden;
            overflow-y: auto;

            .text
            {
                gap: .5em;
                flex-grow: 1;
                justify-content: center;

                span { user-select: text; }

                svg * { stroke: var(--accent); }
            }

            button
            {
                margin-top: .5em;
                width: fit-content;
                align-self: center;
                padding: 1ch 1em;
                border-radius: .5em;
                background-color: var(--accent2);
            }
        }
    }
}