@use './colors.scss';

@font-face
{
    font-family: 'Fira';
    src: url('../fonts/Fira Sans.ttf');
}

*
{
    user-select: none;
    color: white;
    font-family: var(--currentFont);
    // outline: .5px solid red;

    &:focus-within { outline: none; }

    &::-webkit-scrollbar
    {
        background: none;
        width: 10px;
    }

    &::-webkit-scrollbar-thumb { background-color: var(--dark70); }
}

#titlebar
{
    font-size: calc(var(--titlebarHeight) * .8);
    height: var(--titlebarHeight);
    width: 100vw;
    background-color: colors.$dark10;
    grid-template-columns: auto repeat(3, 2em);
    
    span
    {
        -webkit-app-region: drag;
        align-self: center;
        padding-left: .5em;
    }
    
    button
    {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 200ms ease;

        svg
        {
            max-height: calc(var(--titlebarHeight) * .8);
            pointer-events: none;
            fill: white;
        }

        &:hover { background-color: colors.$dark20; }

        &.minimize:hover svg { fill: colors.$accentOrange1; }
        &.maximize:hover svg { fill: colors.$accentGreen2; }
        &.close:hover svg { fill: colors.$accentRed3; }
    }
}

body
{
    position: relative;
    display: grid;
    grid-template-rows: 20px auto 55px;
    font-size: 10px;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: colors.$dark25;

    &::before
    {
        position: absolute;
        content: '';
        height: 100%;
        width: 2px;
        background-color: colors.$accent;
        left: 60vw;
        z-index: -1;
    }
}

button
{
    padding: 0;
    margin: 0;
    background: none;
    border: none;

    &:hover { cursor: pointer; }
}

input
{
    user-select: auto !important;
    caret-color: colors.$accent;
    border: none;

    &:focus
    {
        outline: none;
        border-bottom-color: colors.$accent !important;
    }

    &[data-no-match="true"]:focus { border-bottom-color: colors.$accentRed1 !important; }
}

.hover3D
{
    overflow: hidden;
    transition: all ease 50ms;
    
    &:hover
    {
        cursor: pointer;
        box-shadow: 0 0 15px black;
        border-radius: 5px;
    }
}

.sliderWrapper
{
    $sliderThickness: .3rem;
    $dotSize: 1rem;
    $padding: .7rem;

    height: auto;
    width: 100%;
    align-self: center;
    padding: $padding 0;

    & > * { pointer-events: none; }

    .slider
    {
        position: relative;
        background-color: colors.$dark50;
        border-radius: 1rem;
    
        height: $sliderThickness;
        width: inherit;
    
        &::before
        {
            content: '';
            position: absolute;
            height: inherit;
            width: var(--progress);
            left: 0;
            background-color: white;
            border-radius: 1rem;
            transition: background-color 100ms ease;
        }
    
        &::after
        {
            
            content: '';
            position: absolute;
            height: $dotSize;
            aspect-ratio: 1;
            top: ($sliderThickness - $dotSize) / 2;
            left: calc(var(--progress) - ($dotSize / 2));
            background-color: white;
            border-radius: 100%;
            opacity: 0;
            transition: opacity 100ms ease;
        }
    }
    
    &.vertical
    {
        height: 100%;
        width: auto;
        padding: 0 $padding;
    
        .slider
        {
            height: inherit;
            width: $sliderThickness;

            &::before
            {
                height: var(--progress);
                width: inherit;
                bottom: 0;
            }
        
            &::after
            {
                top: calc((100% - var(--progress)) - ($dotSize / 2));
                left: ($sliderThickness - $dotSize) / 2;
            }
        }
    }

    &:hover
    {
        cursor: pointer;

        .slider
        {
            &::before { background-color: colors.$accent; }
            &::after { opacity: 1; }
        }
    }
}